<script src="/javascripts/refinerycms-ballots.js" type="text/javascript"></script> 

<%= form_for [:admin, @ballot] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @ballot,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest'  -%>
  </div>

  <% @ballot.offices.build %>
  <%= f.fields_for :offices do |builder| %>
    <%= render 'office_fields', :f => builder %>
  <% end %>
  
  <p><%= link_to_add_fields "Add Office", f, :offices %></p>  
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.ballots.ballot'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @ballot.title)
              } %>
<% end -%>

