<div class="fields">
  <p>
    <%= f.label :content, "Office" %>
    <%= link_to_remove_fields 'remove', f %><br />
    <%= f.text_field :title %><br />
    <%= f.text_field :number_of_positions %>
  </p>

<% f.object.candidates.build %>

  <%= f.fields_for :candidates do |builder| %>
    <%= render 'candidate_fields', :f => builder %>
  <% end %>
  
  <p><%= link_to_add_fields "Add candidate", f, :candidates %></p>
</div>
