<% content_for :stylesheets, stylesheet_link_tag("ballots.css") -%>

<% content_for :body_content_title do %>
  <%= @ballot.title %>
<% end %>


<% content_for :body_content_left do %>
  <section class="ballot left-column">
    <% @ballot.offices.each do |office| %>
      <h4><%= office.title %></h4>
      <ol class="candidates">
        <% office.candidates_by_rating.each do |candidate| %>
          <li>
            <%= candidate.name %>
              <%= candidate.percentage %>% -- 
              <%= pluralize candidate.number_of_votes, 'vote', 'votes' %> 
              from <%= pluralize candidate.number_of_voters, 'voter', 'voters' %>
          </li>
        <% end %>
      </ol>
    <% end %>
  </section>

  
  <section class="right-column">
    <%= render 'show_voters', :voters => @ballot.voting_members, :title => 'Members who have voted' %>
    <%= render 'show_voters', :voters => @ballot.nonvoting_members, :title => 'Members who have not voted' %>
  </section>
<% end %>


<%= render :partial => "/shared/content_page" %>
