<% content_for :body_content_title do %>
  <%= @ballot.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <p><%= @ballot.pretty_start_date %> through <%= @ballot.pretty_end_date %></p>
    
    <% @ballot.offices.each do |office| %>
      <h4><%= office.title %></h4>
      <p><%= position_message_for office.number_of_positions %></p>
      <ol class="candidates">
        <% office.candidates.each do |candidate| %>
          <li><%= candidate.name %></li>
        <% end %>
      </ol>
    <% end %>
  </section>
<% end %>


<%= render :partial => "/shared/content_page" %>
