<% content_for :body_content_title do %>
  <%= @campaign.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @campaign.title %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="campaigns">
      <% @campaigns.each do |campaign| %>
        <li>
          <%= link_to campaign.title, campaign_path(campaign) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
