<% content_for :stylesheets, stylesheet_link_tag("ballots.css") -%>
<% content_for :body_content_title do %>
  <%= @ballot.title %>
<% end %>

<% content_for :body_content_left do %>
  <section class="ballot">
    <p><%= @ballot.pretty_start_date %> through <%= @ballot.pretty_end_date %></p>

    <%= render :partial => "/shared/admin/error_messages", :locals => {
            :object => @ballot_vote,
            :include_object_name => true
          } %>

    <%= form_for @ballot_vote do |f| -%>
    
      <%= text_field_tag :unique_identifier, @member.unique_identifier, :hidden => true %>
      <%= f.fields_for :office_votes do |fov| %>
        
        <%= fov.text_field :office_id, :hidden => true %>

        
        <h4><%= fov.object.title %></h4>
        <p><%= position_message_for fov.object.max_num_votes %></p>
        <ol class="candidates">
          <%= fov.fields_for :candidate_votes do |fcv| %>
            <li class="field">
              <%= fcv.text_field :candidate_id, :hidden => true %>
              <%= fcv.check_box :voted, :checked => fcv.object.voted %>
              <%= fcv.label :voted, fcv.object.name %><br />
            </li>
          <% end %>
        </ol>
      
      <% end %>      
      <%= submit_tag 'Vote' %>
    <% end %>
  </section>
<% end %>


<%= render :partial => "/shared/content_page" %>
