<% content_for :stylesheets, stylesheet_link_tag("ballots.css") -%>
<% content_for :body_content_title do %>
  <%= @ballot.title %>
<% end %>

<% content_for :body_content_left do %>
  <section class="ballot">
    <p><%= @ballot.pretty_start_date %> through <%= @ballot.pretty_end_date %></p>

    <%= render :partial => "/shared/admin/error_messages", :locals => {
            :object => @ballot_vote,
            :include_object_name => true
          } %>

    <%= form_for @ballot_vote do |f| -%>
    
      <%= text_field_tag :unique_identifier, @member.unique_identifier, :hidden => true %>
      <%= f.fields_for :office_votes do |office_vote_form| %>

        <fieldset>
          <h4><%= office_vote_form.object.title %></h4>
          <%= office_vote_form.text_field :office_id, :hidden => true %>
          <p><%= position_message_for office_vote_form.object.max_num_votes %></p>
          <ol class="candidates">
            <%= office_vote_form.fields_for :candidate_votes do |candidate_vote_form| %>
              <li class="field">
                <%= candidate_vote_form.text_field :candidate_id, :hidden => true %>
                <%= candidate_vote_form.check_box  :voted, :checked => candidate_vote_form.object.voted %>
                <%= candidate_vote_form.label      :voted, candidate_vote_form.object.name %><br />
              </li>
            <% end %>
          </ol>
        </fieldset>
        
      <% end %>
      
      <div class="field"><%= submit_tag 'Vote' %></div>
    <% end %>
  </section>
<% end %>


<%= render :partial => "/shared/content_page" %>
